body {
    margin: 0;
    font-family: tahoma;
}
/*------------------------------------*/
/*---------------HEADER---------------*/
/*------------------------------------*/
#header {
    width: 100%;
    height: 30vh;
    background-image: url("https://reudys.github.io/ProyectoWeb/public/img-top.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#shadow {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.46);
    display: flex;
    align-items: flex-start;
    z-index: 1;
    flex-direction: column;
    justify-content: flex-end;
}

#title {
    color: #ffffff;
    font-size: 45px;
    margin-left: 1%;
    margin-bottom: 0;
}

#slogan {
    font-size: 20px;
}

.text-header {
    color: #ffffff;
    margin-left: 1%;
    margin-bottom: 1%;
    margin-top: 0;
}

/*------------------------------------*/
/*---------------NAV------------------*/
/*------------------------------------*/

#nav {
    width: 100%;
    height: 5vh;
    background-color: #e10612;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 1%;
}

.nav-buttom {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;
    transition: 1s
}

.nav-buttom:hover {
    background-color: #ffffff;
    color: #e10612;
    transition: 1s;
}
/*------------------------------------*/
/*-----------MENU MOVILE--------------*/
/*------------------------------------*/
.nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    cursor: pointer; /* Añade el puntero para indicar que es interactivo */
}

.nav-item {
    position: relative;
    z-index: 2;
    
}

.nav-buttom-movile {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 1vh 2vw;
    transition: 1s;
    background-color: #e10612;
}

.nav-buttom-movile:hover {
    background-color: #ffffff;
    color: #e10612;
    transition: 1s;
}
/*------------------------------------*/
/*----------SUBMENU MOVILE------------*/
/*------------------------------------*/
.submenu {
    display: none;
    position: absolute;
    list-style-type: none;
    background-color: #e10612;
    padding: 0;
    margin: 0;
    top: 100%;
    left: 0;
}

.submenu li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 1vh 2vw;
    display: block;
    transition: 1s;
}

.submenu li a:hover {
    background-color: #ffffff;
    color: #e10612;
    transition: 1s;
}

.nav-item:hover .submenu {
    display: block;
}

/*------------------------------------*/
/*---------------CONTENT--------------*/
/*------------------------------------*/

#content {
    padding: 2%;
}

.card {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    color: #282529;
    background-color: rgb(234, 233, 233);
    margin-bottom: 1%;
}

.img-container {
    width: 50%;
    height: 60vh;
    overflow: hidden; 
    position: relative;
}

.img-card {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.5s ease-in-out;
}

.img-card:hover {
    transform: scale(1.2);
}

#img-content-1 {
    background-image: url("public/img-content-1.jpg");
}

#img-content-2 {
    background-image: url("public/img-content-2.jpg");
}

.text-card-content {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: justify;
}

.text-card {
    margin: 3vh;
}

.r {
    flex-direction: row-reverse;
}

/*------------------------------------*/
/*----------------FOOTER--------------*/
/*------------------------------------*/

#footer {
    width: 100%;
    height: 25vh;
    background-color: #082b5f;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-content {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-title {
    font-weight: bold;
    margin-bottom: -2%;
}

.footer-text {
    font-size: 12px;
    width: 15vw;
    text-align: justify;
}

.footer-line {
    width: 2px;
    height: 80%;
    background-color: #ffffff;
    border: none;
}

#boton-flotante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    border-radius: 50%;
    width: 60px;    
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;  
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    background-image: url("https://reudys.github.io/ProyectoWeb/public/main-mode.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    border: none; /* Quita el borde del botón */
    cursor: pointer; /* Añade el puntero para indicar que es interactivo */
    outline: none; /* Elimina el borde de enfoque */
    display: none;
}

/*------------------------------------*/
/*---------MOVILE STYLES--------------*/
/*------------------------------------*/

@media screen and (max-width: 870px){
    #header {
        height: 20vh;    
    }

    #title {
        font-size: 25px;
    }

    #slogan {
        font-size: 10px;
    }

    .nav-buttom {
        display: none;
    }

    #nav {
        justify-content: left;
    }

    .nav-menu {
        display: block;
    }

    .card {
        flex-direction: column;
        align-items: center;
        height: 130vh;
    }

    .img-container {
        width: 100%;
    }

    .text-card-content {
        width: 70%;
        text-align: justify;
    }

    .img-card {
        background-attachment: fixed;
        transition: transform none;
    }

    .img-card:hover {
        transform: none;
    }

    #footer {
        flex-direction: column;
        height: 100%;
    }
    .footer-content {
        width: 55%;
    }

    .footer-text {
        width: 100%;
    }

    .footer-line {
        width: 80%;
        height: 2px;
    }
}